<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<f:base />
		<title>Interface Checker</title>
	</head>
	<body>
		<h1>Interface Checker</h1>
		<h3>Checked Packages/{packagePath}</h3>
		<f:if condition="{validPackage}">
			<f:then>
				<f:render partial="/resultTable" arguments="{interfacesMissingMethods: interfacesMissingMethods}" />
			</f:then>
			<f:else>
				This is not a valid package.
			</f:else>
		</f:if>	
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>Check next</h3>
		<f:render partial="/checkForm" />
	</body>
</html>